{{> header }}
{{> main-title }}
<tr>
  <td class="invitation-content">
    <span class="text">Zenio early access has been started, create your account and get it started!</span>
  </td>
</tr>
<tr>
  <td class="btn-wrap-bottom">
    <a href="{{{ button.href }}}" class="btn btn-primary">{{ button.text }}</a>
  </td>
</tr>
{{> footer }}