//Primary Dark
$dark: #00072B;
$dark-90: #1A2040;
$dark-80: #333955;
$dark-70: #4D516B;
$dark-60: #666A80;
$dark-50: #808395;
$dark-40: #999CAA;
$dark-30: #B3B5BF;
$dark-20: #CCCDD5;
$dark-10: #E6E6EA;
$dark-5: #F4F5F7;
$dark-2: #FAFAFB;


//Primary Blue
$blue: #0468E7;
$blue-85: #2A7FEB;
$blue-70: #4F95EE;
$blue-50: #81B3F3;
$blue-40: #9BC3F5;
$blue-30: #B4D2F8;
$blue-20: #CDE1FA;
$blue-10: #E6F0FD;
$blue-5: #F2F7FE;


//Secondary
$green: #43AEA8;
$green-50: #A1D6D3;
$green-10: #ECF7F6;

$yellow: #FF813B;
$yellow-50: #FFC09D;
$yellow-10: #FFF2EB;

$red: #D0021B;
$red-50: #E7808D;
$red-10: #FAE6E8;

$green: #43AEA8;

//Cards colors:

//Area
$area: #427DD6;
$area-hover: #4189F5;

//Activity
$activity: #6D7EA0;
$activity-hover: #8497BB;

//Actor
$actor: #30AD79;
$actor-hover: #34C487;

//Story
$story-finished: #F4B923;
$story-finished-hover: #FFCA43;
$story-started: #FFDB80;
$story-started-hover: #FFE6A8;
$story-unstarted: #FFF1CC;
$story-unstarted-hover: #FFF7E2;
$story-text: #42330C;
